$colors: white wheat tan rosybrown lightsalmon orange coral orangered crimson maroon;
$sizes: .5 .55 .6 .65 .7 .75 .85 .95 1 1.1;

@each $color in $colors {
    $i: index($colors, $color) - 1;
    div.level#{$i} {
        background-color: $color;
    }
}
@each $size in $sizes {
    $i: index($sizes, $size) - 1;
    div.level#{$i} {
        transform: scale($size)
    }
    div.level#{$i} div span:first-child {
        font-size: #{4 + ($i/2)}rem;
    }
}