h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
section {
  text-align: center;

}
ul {
  display: flex;
  justify-content: space-evenly;
}
ul li {
    cursor: pointer;
    list-style: none;
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid crimson;
    border-radius: 4px;
  }
  main.arena {
    display: flex;
    flex-wrap: wrap;
  }
  div[data-id] {
    margin: 1rem;
    padding: 4px;
    max-width: 250px;
    border: 1px solid crimson;
    border-radius: 2rem;
    text-align: center;
  }
  div div {
    user-select: none;
    font-size: 4rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  .sum {
    margin: 0;
    min-height: 42px;
  }
  .Mountain div {
    filter: hue-rotate(140deg) grayscale(.6) ;
  }
  .Sand div {
    filter: sepia(1);
  }
  .Water div{
    filter: hue-rotate(90deg) brightness(.8);
  }
  .Fire div {
    filter: saturate(4) hue-rotate(290deg);
  }
  .Sky div {
    filter: hue-rotate(90deg) brightness(1) drop-shadow(15px 0px 10px grey);
  }
  .Metallic div {
    filter: grayscale(100);
  }
  .Fluffykins div {
    filter: drop-shadow(-60px -10px 12px orangered) 
  }