h1 {
  font-size: 3rem;
  text-align: center;
}
h2 {
  font-size: 2rem;
}
section {
  text-align: center;

}
ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1)
}
ul li {
    cursor: grab;
    list-style: none;
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid crimson;
    border-radius: 4px;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1)

  }
  ul li:active {
    cursor: grabbing
  }
  ul li.dragging {
    opacity: 0.5;
    transform: scale(.9) perspective(20px) translate3d(0px, 500px, 100px);
    background: mistyrose;
  }
  main.arena {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 8px;
    border: 2px solid crimson;
    user-select: none;
  }
  main.dropping {
    border-style: dashed;
    cursor: forbidden;
  }
  main.dropping li {
    pointer-events: none;
  }
  main > p {
    font-size: 5rem;
    color: #999;
  }
  div[data-id] {
    margin: 0.25rem;
    padding: 4px;
    max-width: 250px;
    border: 1px solid crimson;
    border-radius: 2rem;
    text-align: center;
  }
  div div {
    user-select: none;
    font-size: 4rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  .sum {
    margin: 0 0 1rem;
    min-height: 42px;
  }
  .Mountain div {
    filter: hue-rotate(140deg) grayscale(.6) ;
  }
  .Sand div {
    filter: sepia(1);
  }
  .Water div{
    filter: hue-rotate(90deg) brightness(.8);
  }
  .Fire div {
    filter: saturate(4) hue-rotate(290deg);
  }
  .Sky div {
    filter: hue-rotate(90deg) brightness(1) drop-shadow(15px 0px 10px grey);
  }
  .Metallic div {
    filter: grayscale(100);
  }
  .Fluffykins div {
    filter: drop-shadow(-60px -10px 12px orangered) 
  }