ul li {
    cursor: pointer;
  }
  div[data-id] {
    margin: 1rem;
    padding: 4px;
    max-width: 150px;
    border: 1px solid crimson;
    border-radius: 2rem;
  }
  .arena {
    display: flex;
    flex-wrap: wrap;
  }
  .arena > div {
    user-select: none;
    font-size: 4rem;
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid steelblue;
    border-radius: 1rem;
    text-align: center;
  }
  .arena > div {
    margin-top: 15px;
  }
  .arena > div span {
    padding: 0 1rem;
    user-select: none;
  }
  .Mountain span {
    filter: hue-rotate(140deg) grayscale(.6) ;
  }
  .Sand span {
    filter: sepia(1);
  }
  .Water span {
    filter: hue-rotate(90deg) brightness(.8);
  }
  .Fire span {
    filter: saturate(4) hue-rotate(290deg);
  }
  .Sky span {
    filter: hue-rotate(90deg) brightness(1) drop-shadow(15px 0px 10px grey);
  }
  .Metallic span {
    filter: grayscale(100);
  }
  .Fluffykins span {
    filter: drop-shadow(-60px -10px 12px orangered) 
  }